
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/JQuerry/jquery-3.2.1.min.js"></script>
    <link href="~/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            //var tb= document.getElementById("hide");
            //tb.style.display = "none";
            getData();

            $("#btnsum").click(function () {

                var num1 = $("#txtnum1").val();
                var num2 = $("#txtnum2").val();
                //calling api with 2numbers as input
                $.getJSON("/api/FindSum?firstnumber=" + num1 + "&secondnumber=" + num2, function (data) {
                    $("#result").text("Result is= " + data);

                    //Passing data to GetData API using ajax
                    var url = "/api/GetData";
                    // debugger;
                    var date = new Date();
                    let currentDate = new Date().toJSON().slice(0, 10);
                    var objdata = {};
                    objdata.firstnumber = $("#txtnum1").val();
                    objdata.secondnumber = $("#txtnum2").val();
                    objdata.operation = "Addition";
                    objdata.result = data;
                    objdata.CreatedOn = date.toLocaleString();
                    // debugger;
                    if (objdata) {
                        //   debugger;
                        $.ajax({
                            url: url,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(objdata),
                            type: "Post",

                            success: function (response) {
                                //  debugger;
                                alert(response);
                            },
                            error: function (msg) {
                                // debugger;
                                alert(msg);
                            }
                        });

                    }
                })

            })

            $("#btnsub").click(function () {

                var num1 = $("#txtnum1").val();
                var num2 = $("#txtnum2").val();
                //  debugger;
                $.getJSON("/api/FindSubtract?firstnumber=" + num1 + "&secondnumber=" + num2, function (data) {
                    $("#result").text("Result is= " + data);
                    // debugger;

                    //Passing data to GetData API using ajax
                    var url = "/api/GetData";
                    let currentDate = new Date().toJSON().slice(0, 10);
                    var date = new Date();
                    var objdata = {};
                    objdata.firstnumber = $("#txtnum1").val();
                    objdata.secondnumber = $("#txtnum2").val();
                    objdata.operation = "Subtraction";
                    objdata.result = data;
                    objdata.CreatedOn = date.toLocaleString();
                    //debugger;
                    if (objdata) {
                        // debugger;
                        $.ajax({
                            url: url,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(objdata),
                            type: "Post",

                            success: function (result) {
                                alert(result);

                            },
                            error: function (msg) {
                                alert(msg);
                            }
                        });
                    }
                })
            })

            $("#btnmul").click(function () {

                var num1 = $("#txtnum1").val();
                var num2 = $("#txtnum2").val();
                //if ($("#txtnum1").val() == null && $("#txtnum2").val() == null) {
                //    debugger;
                //    alert("Please Enter Numbers");
                //}

                $.getJSON("/api/FindMultiply?firstnumber=" + num1 + "&secondnumber=" + num2, function (data) {

                    $("#result").text("Result is = " + data);

                    //Passing data to GetData API using ajax
                    var url = "/api/GetData";
                    let currentDate = new Date().toJSON().slice(0, 10);
                    var date = new Date();
                    var objdata = {};
                    objdata.firstnumber = $("#txtnum1").val();
                    objdata.secondnumber = $("#txtnum2").val();
                    objdata.operation = "Multiplication";
                    objdata.result = data;
                    objdata.CreatedOn = date.toLocaleString();
                    if (objdata) {
                        //  debugger;
                        $.ajax({
                            url: url,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(objdata),
                            type: "Post",

                            success: function (result) {
                                //  debugger;
                                alert(result);

                            },
                            error: function (msg) {
                                //   debugger;
                                alert(msg);
                            }
                        });
                    }
                })

            })

            $("#btndivide").click(function () {

                var num1 = $("#txtnum1").val();
                var num2 = $("#txtnum2").val();
                $.getJSON("/api/FindDivision?firstnumber=" + num1 + "&secondnumber=" + num2, function (data) {

                    $("#result").text("Result is= " + data);

                    //Passing data to GetData API using ajax
                    var url = "/api/GetData";
                    let currentDate = new Date().toJSON().slice(0, 10);
                    var date = new Date();
                    var objdata = {};
                    objdata.firstnumber = $("#txtnum1").val();
                    objdata.secondnumber = $("#txtnum2").val();
                    objdata.operation = "Division";
                    objdata.result = data;
                    objdata.CreatedOn = date.toLocaleString();
                    if (objdata) {
                        // debugger;
                        $.ajax({
                            url: url,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(objdata),
                            type: "Post",

                            success: function (result) {
                                //   debugger;
                                alert(result);

                            },
                            error: function (msg) {
                                alert(msg);
                            }
                        });
                    }
                })

            })
        })

        function getData() {
            //// debugger;
            //var tb= document.getElementById("hide");
            //tb.style.display = "block";
            var url = "/api/GetData";
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Get",
                success: function (result) {
                    // debugger;
                    if (result) {
                        var row = '';
                        for (let i = 0; i < result.length; i++) {
                            row = row + "<tr>" +
                                "<td>" + result[i].ID + "</td>"
                                + "<td>" + result[i].firstnumber + "</td>"
                                + "<td>" + result[i].secondnumber + "</td>"
                                + "<td>" + result[i].operation + "</td>"
                                + "<td>" + result[i].result + "</td>"
                                + "<td>" + result[i].CreatedOn + "</td>"
                                + "</tr>";
                        }
                    }
                    if (row != '') {
                        $('#tbldata').append(row);
                    }
                    else {
                        $('#tbldata').append("NO DATA FOUND...!!!");
                    }
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }

        function clear() {
            debugger;
            var tb1 = document.getElementById("hide");
            tb1.style.display = "none";
            // tb.style.display = "none";
        }
    </script>

    @* -------styles used -------------- *@
    <style>
        .card {
            padding: 50px;
            border: 2px solid blue;
            width: 600px;
            border-radius: 5px;
            align-content: center;
            text-align: center;
            justify-content: center;
            margin-left: 100px;
            margin-top: 50px;
        }

        .button {
            color: white;
            font-size: 15px;
            padding: 6px;
            width: 100px;
            border-radius: 5px;
            background-color: blue;
            border-color: blue;
        }

        .head {
            font-weight: 500;
            font-style: initial
        }

        .result {
            border: groove;
            font-weight: 500;
            font-style: initial;
            padding-top: 20px;
            margin: 8px;
        }

        .grid {
            overflow: auto;
            width: 50%;
        }

            .grid th {
                padding: 10px;
                font-size: 15px;
                text-align: center;
                font-weight: bold;
                color: black;
                background-color: #EEEEEE;
                justify-content: flex-end;
                align-content: baseline;
            }

            .grid td {
                padding: 4px;
                font-size: 14px;
            }

            .grid th, .grid td {
                border: unset;
                border-bottom: 0.5px solid #cdcdcd !important;
                border-right: 0.5px solid #cdcdcd !important;
                border-top: 0.5px solid #cdcdcd !important;
                border-bottom: 0.5px solid #cdcdcd !important;
            }

            .grid tr th {
                position: sticky;
                top: -1px;
                /* left: -1px;
                right: -1px;*/
                z-index: 1;
            }

        .Divbutton {
            padding-left: 40px;
            padding-top: 10px;
        }

        .tableContainer {
            margin-left: 100px;
            margin-top: 10px;
            display: block;
        }
    </style>

</head>
<body>
    @*---------------Main-Table Content------------------- *@
    <div class="card">
        <h2 class="head">Personal Calculator </h2>
        <table>
            <tr>
                <td>
                    <label class="head">Enter FirstNumber</label>
                </td>
                <td>
                    <input type="text" id="txtnum1" class="form-control" name="num1" value="" placeholder="Enter number" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="head">Enter SecondNumber</label>
                </td>
                <td>
                    <input type="text" id="txtnum2" class="form-control" name="num2" value="" placeholder="Enter number" />
                </td>
            </tr>
        </table>

        <div class="Divbutton">
            <table>
                <tr>
                    <td>
                        <input type="button" class="button" name="sum" id="btnsum" value="Add" />
                    </td>
                    <td>
                        <input type="button" class="button" name="subtract" id="btnsub" value="Subtract" />
                    </td>
                    <td>

                        <input type="button" class="button" name="multiply" id="btnmul" value="Multiply" />
                    </td>
                    <td>
                        <input type="button" class="button" name="divide" id="btndivide" value="Divide" />
                    </td>

                </tr>
            </table>
        </div>

        <div class="result">
            <span id="result"></span>
        </div>
    </div>



    @* ----------------------History Button--------- *@
    @*<div style="margin-left:300px;margin-top:10px;">
            <input type="button" class="button" name="data" id="btndata" value="History Data" onclick="getData();" />
        </div>*@


    @* -------------------History Table----------------- *@-
    <div class="tableContainer">
        <table class="grid" id="tblHistory">
            <thead>
                <tr id="hide">
                    <th>Id</th>
                    <th>FirstNumber</th>
                    <th>SecondNumber</th>
                    <th>Operation</th>
                    <th>Result</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody id="tbldata">
            </tbody>
        </table>
    </div>

</body>
</html>
